.example-viewport {
  height: 500px;
  width: 200px;
}

.example-item {
  height: 50px;
}

.virtual-container{
  margin: 50px;
  height: 80%;
}

.main{
  float: left;
  border: 1px solid red;
  height: 100%;

  .title{
    height: 25px;
  }
}
