.checkbox {
    text-align: center;
    padding: 10px;
    display: inline-block;
    min-height: 40px;
    min-width: 40px;
    line-height: 40px;
    background-color: red;
    border: 1px solid
  }
  .checkedColor {
    background-color: green !important;
  }
